*{
    margin: 0;
    padding: 0;
     
}
body{
    max-width: 25rem;
    margin: 0 auto;
    background-color:lightsteelblue
}

h1{
    color:lightcoral
}

h2{
  color: palegreen;
}
p{
    font-family: sans-serif;
    color:peachpuff;
    font-size: 150%;
}

img{
    width: 100%;
    display: block;
}

a{    color:darkorchid;    
}
    

a:hover{
    color:darkturquoise;
}