*{
    margin: 0;
    padding: 0;
     
}
body{
    max-width: 25rem;
    margin: 0 auto;
    background-color:lightsteelblue
}

h1{
    color:lightcoral
}

h2{
  color: palegreen;
  font-size: 160%;
}

h3{
    color:darkslateblue;
    font-size: 170%;
    font-family:monospace ;
}
p{
    font-family: sans-serif;
    color:peachpuff;
    font-size: 180%;
}

img{
    width: 100%;
    display: block;
}

a{    color:darkorchid; 
    font-size: 140%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

a:hover{
    color:darkturquoise;
}
div a:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
  }