*{
    margin: 0;
    padding: 0;
    box-sizing: ;
    border-box: 
}
body{
    max-width: 25rem;
    margin: 0 auto;
    background-color:lightsteelblue
}

h1{
    color:lightcoral
}
p{
    font-family: sans-serif;
}